* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    margin: 0 auto;
    max-width: 750px;
    min-height: 100vh;
    background: linear-gradient(120deg, #65a9f6, #949CFF);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

table {
    width: 100%;
    margin: 30px 0 60px 0;
    font-weight: 200;
}

table tr {
    cursor: pointer;
}

thead th {
    font-weight: 400;
}

table, th, td {
    text-align: center;
    padding: 5px;
    border: 1px solid;
}

.tr-checked {
    background-color: rgba(248, 69, 137, .15);
}

.delete-checkbox {
    transition: all .2s ease-in-out;
}

.delete-checkbox input {
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

.delete-checkbox:hover i {
    color: #f84589;
    transform: scale(1.2);
}

.delete-checkbox input:checked + i {
    color: #FF6FA6;
}

form {
    display: none;
    flex-direction: column;
    font-weight: 200;
}

form.visible {
    display: flex;
}

form input {
    margin-bottom: 10px;
    display: block;
    padding: 5px 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: white;
    color: gray;
}

button {
    margin-bottom: 50px;
    margin-right: 10px;
    max-width: max-content;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    color: #fff;
    background-color: #FF6FA6;
    outline: none;
    transition: background-color .2s ease;
    box-shadow: 0px 8px 12px rgba(0,0,0,0.1);
}

button:hover {
    background-color: #f84589;
}

form button:hover {
    background: #85cdfd;
}

.hide {
    display: none;
}

.search {
    position: relative;
}

.search-input-icon {
    position: absolute;
    bottom: 2px;
    left: 0px;
}

.search-input {
    padding: 5px 10px 5px 25px;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    background-color: transparent;
    color: #fff;
}